.btn-info {
    width: 55px;
    height: 55px;
    position: relative;       
    background-image: url(images/btn-info-normal.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
        background-image: url(images/btn-info-hover.png);
    }

    &:after {
        content: " ";
        width: 9px;
        height: 28px;
        position: absolute;
        top: 13px;
        left: 22px;
        background-image: url(images/info-sign.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}
